{% extends "layout.html" %}

{% block main %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<form action="/">
    <button type="submit" onclick="" style="float: right" class="btn"><i class="fa fa-home"></i> Home</button>
</form>

<form action="/piecharts" method="POST">
    <select name="piechartChoice">
        <option value="0">Piechart:</option>
        <option value="compRepo">Company Repo</option>
        <option value="langRepo">Language Repo</option>
        <option value="combRepo">Combined User/Repo Company</option>
        <option value="combLang">Combined User/Repo Language</option>
    </select>
    <button type="submit" name="filter" class="btn">Go</button>
</form>

{% if piechart is not none %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<div class="split left">
    <div class="w3-container">
        <canvas id="pie-chart" width="600" height="600"></canvas>
    </div>
</div>

<script>
    var data = JSON.parse('{{ piechart | tojson | safe }}');

    names = [];
    colours = [];
    values = []
    for (d in data){
        names.push(d);
        var tmp ='#' + Math.floor(Math.random() * 16777215).toString(16)
        colours.push(tmp);
        values.push(data[d]);
    }

    var chart = new Chart(document.getElementById("pie-chart"), {
        type: 'pie',
        data: {
            labels: names,
            datasets: [
                {
                    backgroundColor: colours,
                    data: values
                }
            ],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            title: {
                display: true,
                text: "{{ title }}"
            }
        }
    });
</script>
{% endif %}

{% endblock %}